.mskin-object {
    .mskin-object-input {
        width: 100%;
        height: 25px;
        border: 0px solid whitesmoke;
        border-width: 0 0 2px 0;
        background-color: transparent;
        padding-left: 5px;
        z-index: 2;
        color: transparent;
        outline: none;
        width: calc( 100% - 1px );

        &:focus {
            color: whitesmoke;

            ~ border {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
        }

        ~ .mskin-textbox-cancle {
            width: 29px;
            height: 29px;
            display: none;
            height: 10px;
            width: 10px;
            margin-left: -26px;
            padding: 3px 4px 5px 4px;
            text-align: center;
            font-size: .7rem;
            border-radius: 50%;
            border: 1.2px solid transparent;
            z-index: 3;

            &:after {
                content: "X";
                color: whitesmoke;
            }

            &:hover {
                background-color: #b8b8b8;

            &:after {
                color: grey;
            }
        }


        }

        ~ border {
            display: block;
            height: 2px;
            width: 0%;
            margin-top: -2px;
            margin-left: 50%;
            margin-right: 50%;
            z-index: 3;
            background-color: #26c3b6;
        }

        ~ .mskin-textbox-placeholder {
            margin: -22px 0px;
            color: whitesmoke;
            z-index: 1;
        }

        ~ label.mskin-textbox-placeholder {
            //    margin-top: -48px;
            //    margin-left: 5px;
            //    color: #26c3b6;
            margin: -22px 0px;
            color: whitesmoke;
            z-index: 1;
        }

        ~ .mskin-textbox-cancle {
            display: inherit;
        }
    }

    &.has-value {
        .mskin-object-input {
            color: whitesmoke;
        }

        border {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }

        label.mskin-textbox-placeholder {
            margin-top: -48px;
            margin-left: 5px;
            color: #26c3b6;
        }

        &.has-info {
            .mskin-object-header {
                ~ label.mskin-textbox-placeholder {
                    color: gray;
                }
            }
        }

        &.has-error {
            .mskin-object-input::placeholder {
                color: #a15454;
            }

            ~ label.mskin-textbox-placeholder {
                color: gray;
            }
        }
    }
}
// /* line 746, ../sass/modern-forms2.scss */
// .mskin-object.has-value.has-info .mskin-object-header ~ .mskin-datepicker-container, .mskin-object.has-value.has-error .mskin-object-header ~ .mskin-datepicker-container {
// margin-top: 51px;
// }
