/* line 1, ../sass/modern-forms2.scss */
body {
  background-color: gray;
}
/* line 4, ../sass/modern-forms2.scss */
body * {
  font-family: 'Roboto', sans-serif;
  transform: all ease .5s;
}

/*
    New Styles
*/
/* line 14, ../sass/modern-forms2.scss */
.mskin-object {
  padding: 26px 5px 5px 5px;
}

/* line 18, ../sass/modern-forms2.scss */
.mskin-datepicker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 5px 5px 5px;
  /* Pop Up */
  /* Focus / has Value */
}
/* line 24, ../sass/modern-forms2.scss */
.mskin-datepicker > * {
  transition: all ease .3s;
}
/* line 28, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-textbox-input {
  width: 100%;
  height: 25px;
  border: 0px solid whitesmoke;
  border-width: 0 0 2px 0;
  background-color: transparent;
  padding-left: 5px;
  z-index: 2;
  color: transparent;
  outline: none;
}
/* line 40, ../sass/modern-forms2.scss */
.mskin-datepicker border {
  display: block;
  height: 2px;
  width: 0%;
  margin-top: -2px;
  margin-left: 50%;
  margin-right: 50%;
  z-index: 3;
  background-color: #26c3b6;
}
/* line 51, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-textbox-placeholder {
  margin: -22px 0px;
  color: whitesmoke;
  z-index: 1;
}
/* line 59, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container {
  /* width: 0; */
  max-width: 767px;
  height: 0;
  opacity: 0;
  max-height: 350px;
  margin-top: 30px;
  position: absolute;
  background-color: #26c3b6;
  display: inline-flex;
}
/* line 70, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container.show {
  /* width: 90vw; */
  height: 90vh;
  opacity: 1;
}
/* line 76, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container > * {
  /*width: 50%;*/
  min-width: 350px;
  padding: 10px 15px;
}
/* line 82, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container p {
  margin: 0;
}
/* line 86, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info {
  display: flex;
  flex-direction: column;
}
/* line 90, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-header {
  text-align: center;
}
/* line 93, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-header .mskin-dp-currentdate {
  text-align: center;
}
/* line 96, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-header .mskin-dp-currentdate .mskin-dp-cd-day {
  font-size: 2rem;
  color: whitesmoke;
  font-weight: bold;
}
/* line 102, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-header .mskin-dp-currentdate .mskin-dp-cd-date {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 106, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-header .mskin-dp-currentdate .mskin-dp-cd-date .mskin-dp-th {
  font-size: 10px;
  margin-left: -5px;
  vertical-align: text-top;
}
/* line 115, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul {
  list-style-type: none;
}
/* line 118, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li {
  color: rgba(0, 0, 0, 0.5);
}
/* line 121, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li:before {
  content: ">";
  margin: 0px -15px;
  position: absolute;
  transform: rotate(0deg);
  color: transparent;
  transition: all ease .5s;
}
/* line 130, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li.open:before {
  transform: rotate(45deg);
}
/* line 134, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li:hover:before, .mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li.open:before {
  color: rgba(0, 0, 0, 0.5);
}
/* line 140, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li.open .mskin-dp-i-list-i-info {
  height: auto;
  opacity: 1;
}
/* line 146, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li .mskin-dp-i-list-i-info {
  height: 0px;
  display: flex;
  overflow: hidden;
  opacity: 0;
}
/* line 152, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li .mskin-dp-i-list-i-info .mskin-dp-i-list-i-visitors {
  text-align: right;
}
/* line 157, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li .mskin-dp-i-list-i-info {
  height: 0px;
  display: flex;
  overflow: hidden;
  opacity: 0;
  font-size: .8rem;
  margin-top: 1px;
}
/* line 165, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li .mskin-dp-i-list-i-info > * {
  width: 100%;
}
/* line 173, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender {
  background-color: whitesmoke;
}
/* line 176, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 181, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month,
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year {
  width: 100%;
  max-width: 190px;
  padding: 0 0 15px 0;
  display: flex;
}
/* line 188, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month span,
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year span {
  width: 100%;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 196, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month button,
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year button {
  background-color: transparent;
  border: none;
}
/* line 200, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month button[job],
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year button[job] {
  color: gray;
}
/* line 203, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month button[job]:hover,
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year button[job]:hover {
  color: #26c3b6;
}
/* line 210, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month {
  padding: 0;
}
/* line 215, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head div.mskin-dp-year span,
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head div.mskin-dp-year button[job] {
  font-size: 3rem;
  color: rgba(128, 128, 128, 0.5);
}
/* line 223, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body {
  display: flex;
  flex-wrap: wrap;
}
/* line 227, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-days {
  display: flex;
  flex-wrap: wrap;
}
/* line 231, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-days day {
  width: calc( 100% / 7 - 15px );
  padding: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
/* line 239, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-days day:hover {
  color: #26c3b6;
}
/* line 243, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-days day[today] {
  color: #26c3b6;
}
/* line 246, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-days day[today]:hover {
  color: #36716c;
}
/* line 250, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-days day[today]:before {
  border: 2px solid #26c3b6;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(38, 195, 182, 0.2);
  color: #26c3b6;
}
/* line 264, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-days day[icon]:before {
  content: "";
  width: 6px;
  height: 9px;
  position: absolute;
  margin: 9.5px 0 0 9.5px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
/* line 276, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-days day[icon][icon=fav]:before {
  background-image: url(./modern-forms.icon.fav-ball.png);
}
/* line 287, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-textbox-input:focus ~ border, .mskin-datepicker.has-value border {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
/* line 294, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-textbox-input:focus ~ label.mskin-textbox-placeholder, .mskin-datepicker.has-value label.mskin-textbox-placeholder {
  margin-top: -48px;
  margin-left: 5px;
  color: #26c3b6;
}
/* line 302, ../sass/modern-forms2.scss */
.mskin-datepicker.has-value.has-error .mskin-textbox-input::placeholder {
  color: #a15454;
}
/* line 309, ../sass/modern-forms2.scss */
.mskin-datepicker.has-value.has-info .mskin-object-header ~ label.mskin-textbox-placeholder, .mskin-datepicker.has-value.has-error .mskin-object-header ~ label.mskin-textbox-placeholder {
  color: gray;
}
/* line 313, ../sass/modern-forms2.scss */
.mskin-datepicker.has-value.has-info .mskin-object-header ~ .mskin-datepicker-container, .mskin-datepicker.has-value.has-error .mskin-object-header ~ .mskin-datepicker-container {
  margin-top: 51px;
}
/* line 319, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-textbox-input:focus, .mskin-datepicker.has-value .mskin-textbox-input {
  color: whitesmoke;
}

/* line 327, ../sass/modern-forms2.scss */
.mskin-datepicker.has-info .mskin-object-header {
  margin-top: 0px;
  opacity: 1;
}
/* line 332, ../sass/modern-forms2.scss */
.mskin-datepicker.has-info .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container {
  display: flex;
}
/* line 339, ../sass/modern-forms2.scss */
.mskin-datepicker.has-error .mskin-object-header {
  opacity: 1;
}
/* line 343, ../sass/modern-forms2.scss */
.mskin-datepicker.has-error .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.error-icon-container {
  display: flex;
}
/* line 350, ../sass/modern-forms2.scss */
.mskin-datepicker.has-error .mskin-object-header {
  background-color: rgba(195, 38, 38, 0.49);
}
/* line 354, ../sass/modern-forms2.scss */
.mskin-datepicker.has-value.has-info .mskin-object-header {
  background-color: rgba(195, 191, 38, 0.49);
}
/* line 358, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header {
  /* position: absolute; */
  height: 26px;
  width: 100%;
  /*background-color: #26c3b6;*/
  padding-right: 5px;
  margin-top: -0px;
  opacity: 0;
}
/* line 367, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header ~ .mskin-datepicker-container {
  margin-top: 49px;
}
/* line 371, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
/* line 377, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-i-content {
  height: 80%;
}
/* line 381, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item {
  display: none;
  justify-content: flex-end;
  padding-top: 1px;
  margin: 2.5px;
}
/* line 397, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body mskin-dp-c-b-days {
  display: flex;
  flex-wrap: wrap;
}
/* line 402, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-week {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}
/* line 408, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-week .mskin-dp-c-b-week-name {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
/* line 415, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-week .mskin-dp-c-b-week-name[today] {
  border-bottom: 2px solid #26c3b6;
}
/* line 419, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body .mskin-dp-c-b-week .mskin-dp-c-b-week-name .mskin-dp-week-name-last {
  display: none;
}
/* line 425, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5px;
}
/* line 430, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day[planed]:after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #26c3b6;
}
/* line 439, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day[planed] {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5px;
}
/* line 445, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day[first-month], .mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day[last-month] {
  color: rgba(128, 128, 128, 0.5);
}
/* line 450, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day .mskin-dp-c-b-d-color {
  height: 3.5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: #f21b1b; */
}
/* line 459, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day .mskin-dp-c-b-d-color.part-of-three dot:nth-child(1), .mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day .mskin-dp-c-b-d-color.part-of-three dot:nth-child(3) {
  margin-top: -2px !important;
  height: 0px !important;
  /* position: absolute; */
  margin: 0px 0px;
}
/* line 468, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day .mskin-dp-c-b-d-color dot[color] {
  width: 3.5px;
  height: 3.5px;
  min-height: 3.5px;
  border-radius: 50%;
  margin: 0 1.5px;
}
/* line 475, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day .mskin-dp-c-b-d-color dot[color][color=red] {
  background-color: #c32626;
}
/* line 479, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day .mskin-dp-c-b-d-color dot[color][color=yellow] {
  border: 1px solid #c3be26;
  background-color: yellow;
  width: 1.5px !important;
  max-height: 2px !important;
  min-height: 2px !important;
}
/* line 487, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-body day .mskin-dp-c-b-d-color dot[color][color=turkies] {
  background-color: #26c3b6;
}

/* line 497, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-header .mskin-dp-currentdate .mskin-dp-cd-date .mskin-dp-th {
  font-size: 10px;
  margin-left: -5px;
  vertical-align: text-top;
}

/* line 503, ../sass/modern-forms2.scss */
.mskin-dp-c-b-d-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

/* line 510, ../sass/modern-forms2.scss */
.mskin-dp-c-b-days {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* line 516, ../sass/modern-forms2.scss */
.mskin-dp-c-b-d-container.old-month {
  opacity: 0;
  margin-left: -100%;
}

/* line 521, ../sass/modern-forms2.scss */
.mskin-dp-c-b-d-container.next-month {
  opacity: 1;
}

/* line 525, ../sass/modern-forms2.scss */
body {
  /*    .slide-1-2 {
          > {
              :nth-child(1) {
                  opacity: 0 !important;
                  margin-left: -100% !important;
              }
  
              :not( :nth-child( 1 ) ) {
                  opacity: 0 !important;
              }
  
              :nth-child(2) {
                  opacity: 1 !important;
              }
  
              * {
                  width: 100% !important;
                  transition: all ease .5s !important;
              }
          }  
      }*/
}
/* line 526, ../sass/modern-forms2.scss */
body .slide-prepair {
  display: inline-flex !important;
  flex-direction: row !important;
  overflow: hidden !important;
  flex-wrap: initial !important;
  /*        > * {
              transition: all ease .5s !important; 
          }*/
}

/* line 560, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month span, .mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year span {
  text-align: center;
  height: auto;
}

/* line 565, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month .slide-prepair {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 572, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year .slide-prepair {
  height: 58px;
}

/* line 576, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.error-icon-container > i {
  color: #d70000;
  text-shadow: 0px 0px 7px #680000;
}

/* line 581, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container > i {
  color: #d3cd00;
  text-shadow: 0px 0px 7px #656800;
}

/* line 586, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container,
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.error-icon-container {
  display: none;
}

/* line 591, ../sass/modern-forms2.scss */
.mskin-datepicker.has-info .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container,
.mskin-datepicker.has-error .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.error-icon-container {
  display: block;
}

/*
.mskin-datepicker.has-info .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item .mskin-mode-massage {
	opacity: 0;
	display: none;
}
*/
/* line 603, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item > i ~ .mskin-mode-massage {
  position: absolute;
  margin-top: -25.5px;
  margin-left: 32px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}

/* line 612, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container > i ~ .mskin-mode-massage {
  background-color: rgba(195, 191, 38, 0.5);
}

/* line 616, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.error-icon-container > i ~ .mskin-mode-massage {
  background-color: rgba(195, 38, 38, 0.5);
}

/* line 620, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item > i ~ .mskin-mode-massage .mskin-mode-m-container {
  padding: 6px 15px;
  width: 220px;
  min-height: 40px;
}

/* line 629, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item .mskin-mode-massage .mskin-m-m-title {
  font-size: 1rem;
}

/* line 633, ../sass/modern-forms2.scss */
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item .mskin-mode-massage .mskin-m-m-text {
  font-size: .75rem;
  margin: 5px 0 0 0;
}

/* line 638, ../sass/modern-forms2.scss */
.mskin-datepicker.has-error .mskin-textbox-input:focus ~ border, .mskin-datepicker.has-error border {
  background-color: rgba(131, 0, 0, 0.63);
}

/* line 642, ../sass/modern-forms2.scss */
.mskin-datepicker.has-info .mskin-textbox-input:focus ~ border, .mskin-datepicker.has-info border {
  background-color: rgba(131, 131, 0, 0.63);
}

/* line 646, ../sass/modern-forms2.scss */
.mskin-datepicker.has-info .mskin-textbox-input:focus ~ .mskin-textbox-placeholder {
  color: #d3cd00;
}
