body {
    background-color: gray;

    * {
        font-family: 'Roboto', sans-serif;
        transform: all ease .5s;
    }
}

/*
    New Styles
*/

.mskin-object {
	padding: 26px 5px 5px 5px;
}

.mskin-datepicker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 5px 5px 5px;

    > * {
        transition: all ease .3s;
    }

    .mskin-textbox-input {
        width: 100%;
        height: 25px;
        border: 0px solid whitesmoke;
        border-width: 0 0 2px 0;
        background-color: transparent;
        padding-left: 5px;
        z-index: 2;
        color: transparent;
        outline: none;
    }

    border {
        display: block;
        height: 2px;
        width: 0%;
        margin-top: -2px;
        margin-left: 50%;
        margin-right: 50%;
        z-index: 3;
        background-color: #26c3b6;
    }

    .mskin-textbox-placeholder {
        margin: -22px 0px;
        color: whitesmoke;
        z-index: 1;
    }

    /* Pop Up */

    .mskin-datepicker-container {
        /* width: 0; */
        max-width: 767px;
        height: 0;
        opacity: 0;
        max-height: 350px;
        margin-top: 30px;
        position: absolute;
        background-color: #26c3b6;
        display: inline-flex;
        
        &.show {
            /* width: 90vw; */
            height: 90vh;
            opacity: 1;
        }

        > * {
            /*width: 50%;*/
            min-width: 350px;
            padding: 10px 15px;
        }

        p {
            margin: 0;
        }

        .mskin-dp-info {
            display: flex;
            flex-direction: column;

            .mskin-dp-i-header {
                text-align: center;

                .mskin-dp-currentdate {
                    text-align: center;

                    .mskin-dp-cd-day {
                        font-size: 2rem;
                        color: whitesmoke;
                        font-weight: bold;
                    }

                    .mskin-dp-cd-date {
                        margin-top: 5px;
                        color: rgba(0, 0, 0, 0.5);
                        
                        .mskin-dp-th {
                            font-size: 10px;
                            margin-left: -5px;
                            vertical-align: text-top;
                        }
                    }
                }
            }

            .mskin-dp-i-list ul {
                list-style-type: none;

                > li {
                    color: rgba(0, 0, 0, 0.5);

                    &:before {
                        content: ">";
                        margin: 0px -15px;
                        position: absolute;
                        transform: rotate( 0deg );
                        color: transparent;
                        transition: all ease .5s;
                    }

                    &.open:before {
                        transform: rotate( 45deg );
                    }

                    &:hover:before,
                    &.open:before {
                        color: rgba(0, 0, 0, 0.5);
                    }

                    &.open {
                        .mskin-dp-i-list-i-info {
                            height: auto;
                            opacity: 1;
                        }
                    }

                    .mskin-dp-i-list-i-info {
                        height: 0px;
                        display: flex;
                        overflow: hidden;
                        opacity: 0;

                        .mskin-dp-i-list-i-visitors {
                            text-align: right;
                        }
                    }

                    .mskin-dp-i-list-i-info {
                        height: 0px;
                        display: flex;
                        overflow: hidden;
                        opacity: 0;
                        font-size: .8rem;
                        margin-top: 1px;

                        > * {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .mskin-dp-calender {
            background-color: whitesmoke;
            
            .mskin-dp-c-head {
                display: flex;
                flex-direction: column;
                align-items: center;

                .mskin-dp-month,
                .mskin-dp-year {
                    width: 100%;
                    max-width: 190px;
                    padding: 0 0 15px 0;
                    display: flex;

                    span {
                        width: 100%;
                        color: gray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    button {
                        background-color: transparent;
                        border: none;

                        &[job] {
                            color: gray;

                            &:hover {
                                color: #26c3b6;
                            }
                        }
                    }
                }

                .mskin-dp-month {
                    padding: 0;
                }

                div.mskin-dp-year {
                    span,
                    button[job] {
                        font-size: 3rem;
                        color: rgba(128, 128, 128, 0.5);
                    }
                }
            }

            .mskin-dp-c-body {
                display: flex;
                flex-wrap: wrap;
                
                .mskin-dp-c-b-days {
                    display: flex;
                    flex-wrap: wrap;
                    
                    day {
                        width: calc( 100% / 7 - 15px );
                        padding: 7.5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: gray;

                        &:hover {
                            color: #26c3b6;
                        }

                        &[today] {
                            color: #26c3b6;

                            &:hover {
                                color: #36716c;
                            }

                            &:before {
                                border: 2px solid #26c3b6;
                                border-radius: 50%;
                                content: "";
                                display: block;
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                background-color: rgba(38, 195, 182, 0.2);
                                color: #26c3b6;
                            }
                        }
                        
                        &[icon] {
                            &:before {
                                content: "";
                                width: 6px;
                                height: 9px;
                                position: absolute;
                                margin: 9.5px 0 0 9.5px;
                                background-size: 100% 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                border-radius: 50%;
                            }

                            &[icon=fav]:before {
                                background-image: url( ./modern-forms.icon.fav-ball.png );
                            }
                        }
                    }
                }
            }
        }
    }

    /* Focus / has Value */
    .mskin-textbox-input:focus ~ border,
    &.has-value border {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .mskin-textbox-input:focus ~ label.mskin-textbox-placeholder,
    &.has-value label.mskin-textbox-placeholder {
        margin-top: -48px;
        margin-left: 5px;
        color: #26c3b6;
    }
	
    &.has-value {
		&.has-error .mskin-textbox-input::placeholder {
			color: #a15454;
		}
		
        &.has-info,
        &.has-error {
			.mskin-object-header {
				& ~ label.mskin-textbox-placeholder {
					color: gray;
				}
				
				& ~ .mskin-datepicker-container {
					margin-top: 51px;
				}
			}
        }
    } 
    .mskin-textbox-input:focus,
    &.has-value .mskin-textbox-input {
        color: whitesmoke;
    }
}

.mskin-datepicker {
    &.has-info {
        .mskin-object-header {
			margin-top: 0px;
			opacity: 1;
			
            .mskin-obj-h-notification .mskin-obj-h-n-item {
                &.info-icon-container {
                    display: flex;
                }
            }
        }
    }
    &.has-error {
        .mskin-object-header {
			opacity: 1;
			
            .mskin-obj-h-notification .mskin-obj-h-n-item {
                &.error-icon-container {
                    display: flex;
                }
            }
        }
    }

    &.has-error .mskin-object-header {
        background-color: rgba(195, 38, 38, 0.49);
    }

    &.has-value.has-info .mskin-object-header {
        background-color: rgba(195, 191, 38, 0.49);
    }
    
    .mskin-object-header {
        /* position: absolute; */
        height: 26px;
        width: 100%;
        /*background-color: #26c3b6;*/
        padding-right: 5px;
        margin-top: -0px;
        opacity: 0;
        
        & ~ .mskin-datepicker-container {
            margin-top: 49px;
        }
        
        .mskin-obj-h-notification {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            .mskin-obj-h-n-i-content {
                height: 80%;
            }

            .mskin-obj-h-n-item {
                display: none;
                justify-content: flex-end;
                padding-top: 1px;
                margin: 2.5px;
            }

            .mskin-obj-h-n-i-content svg {

            }
        }
    }
    
    .mskin-datepicker-container {
        .mskin-dp-calender {
            .mskin-dp-c-body {
                mskin-dp-c-b-days {
                    display: flex;
                    flex-wrap: wrap;
                }

                .mskin-dp-c-b-week {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    width: 100%;
                    
                    .mskin-dp-c-b-week-name {
                        margin: 0;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding-bottom: 5px;

                        &[today] {
                            border-bottom: 2px solid #26c3b6;
                        }

                        .mskin-dp-week-name-last {
                            display: none;
                        }
                    }
                }
                
                day {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 3.5px;
                    
                    &[planed]:after {
                        content: "";
                        display: block;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #26c3b6;
                    }

                    &[planed] {
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 3.5px;
                    }
                    
                    &[first-month],
                    &[last-month] {
                        color: rgba(128, 128, 128, 0.5);
                    }

                    .mskin-dp-c-b-d-color {
                        height: 3.5px;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        /* background-color: #f21b1b; */
                        
                        &.part-of-three dot {
                            &:nth-child(1),
                            &:nth-child(3) {
                                margin-top: -2px !important;
                                height: 0px !important;
                                /* position: absolute; */
                                margin: 0px 0px;
                            }
                        }

                        dot[color] {
                            width: 3.5px;
                            height: 3.5px;
                            min-height: 3.5px;
                            border-radius: 50%;
                            margin: 0 1.5px;

                            &[color=red] {
                                background-color: #c32626;
                            }

                            &[color=yellow] {
                                border: 1px solid #c3be26;
                                background-color: yellow;
                                width: 1.5px !important;
                                max-height: 2px !important;
                                min-height: 2px !important;
                            }

                            &[color=turkies] {
                                background-color: #26c3b6;
                            }
                        }
                    }
                }
            }
        }
    }
}
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-header .mskin-dp-currentdate .mskin-dp-cd-date .mskin-dp-th {
    font-size: 10px;
    margin-left: -5px;
    vertical-align: text-top;
}

.mskin-dp-c-b-d-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

.mskin-dp-c-b-days {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.mskin-dp-c-b-d-container.old-month {
    opacity: 0;
    margin-left: -100%;
}

.mskin-dp-c-b-d-container.next-month {
    opacity: 1;
}

body {
    .slide-prepair {
        display: inline-flex !important;
        flex-direction: row !important;
        overflow: hidden !important;
        flex-wrap: initial !important;
        
/*        > * {
            transition: all ease .5s !important; 
        }*/
    }

/*    .slide-1-2 {
        > {
            :nth-child(1) {
                opacity: 0 !important;
                margin-left: -100% !important;
            }

            :not( :nth-child( 1 ) ) {
                opacity: 0 !important;
            }

            :nth-child(2) {
                opacity: 1 !important;
            }

            * {
                width: 100% !important;
                transition: all ease .5s !important;
            }
        }  
    }*/
}

.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month span, .mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year span {
    text-align: center;
    height: auto;
}

.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month .slide-prepair {
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year .slide-prepair {
    height: 58px;
}

.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.error-icon-container > i {
    color: #d70000;
    text-shadow: 0px 0px 7px rgb(104, 0, 0);
}

.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container > i {
    color: #d3cd00;
    text-shadow: 0px 0px 7px rgb(101, 104, 0);
}

.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container,
.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.error-icon-container {
    display: none;
}

.mskin-datepicker.has-info .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container,
.mskin-datepicker.has-error .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.error-icon-container {
    display: block;
}

/*
.mskin-datepicker.has-info .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item .mskin-mode-massage {
	opacity: 0;
	display: none;
}
*/

.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item > i ~ .mskin-mode-massage {
	position: absolute;
    margin-top: -25.5px;
    margin-left: 32px;
    width: 0px;
    overflow: hidden;
	opacity: 0;
}

.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container > i ~ .mskin-mode-massage {
    background-color: rgba( 195, 191, 38, 0.5 ) ;
}

.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.error-icon-container > i ~ .mskin-mode-massage {
    background-color: rgba( 195, 38, 38, 0.5 );
}

.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item > i ~ .mskin-mode-massage .mskin-mode-m-container {
    padding: 6px 15px;
    width: 220px;
    min-height: 40px;
}

.mskin-datepicker.has-info .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item.info-icon-container 
 .mskin-mode-massage {}

.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item .mskin-mode-massage .mskin-m-m-title {
    font-size: 1rem;
}

.mskin-datepicker .mskin-object-header .mskin-obj-h-notification .mskin-obj-h-n-item .mskin-mode-massage .mskin-m-m-text {
    font-size: .75rem;
    margin: 5px 0 0 0;
}

.mskin-datepicker.has-error .mskin-textbox-input:focus ~ border, .mskin-datepicker.has-error border {
    background-color: rgba(131, 0, 0, 0.63);
}

.mskin-datepicker.has-info .mskin-textbox-input:focus ~ border, .mskin-datepicker.has-info border {
    background-color: rgba(131, 131, 0, 0.63);
}

.mskin-datepicker.has-info .mskin-textbox-input:focus ~ .mskin-textbox-placeholder {
    color: #d3cd00;
}