/* Normale Styles */
/* line 2, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month .slide-prepair,
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year .slide-prepair {
  width: 100%;
}

/* line 7, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-month .slide-prepair,
.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender .mskin-dp-c-head .mskin-dp-year .slide-prepair {
  width: 100%;
}

/* line 12, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-header {
  padding: 10px 15px;
}

/* line 16, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul {
  padding: 0;
  margin: 15px 0 0 0;
}

/* line 21, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
}

/* line 28, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.15);
}

/* line 32, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list {
  height: 100%;
  overflow-y: auto;
}

/* line 37, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li .mskin-dp-i-list-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 43, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li .mskin-dp-i-list-info .mskin-dp-i-list-i-title {
  width: 100%;
}

/* line 47, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li .mskin-dp-i-list-info span {
  font-size: .75rem;
  display: flex;
  color: #14847a;
}

/* line 53, ../sass/modern-forms_mobil.scss */
.mskin-datepicker .mskin-datepicker-container .mskin-dp-info .mskin-dp-i-list ul > li .mskin-dp-i-list-info span i {
  font-size: .75rem;
  margin-right: 2px;
}

/* line 59, ../sass/modern-forms_mobil.scss */
day:not([today]):before, day:not([today]):after {
  position: absolute;
  opacity: 0;
  color: #26c3b6;
  font-size: 1.5rem;
  margin-top: -6px;
  transition: margin .5s ease, opacity .5s ease;
}
/* line 68, ../sass/modern-forms_mobil.scss */
day:not([today]):before {
  content: "[";
  margin-left: -19px;
  margin-top: -1px;
}
/* line 73, ../sass/modern-forms_mobil.scss */
day:not([today]):after {
  content: "]";
  margin-left: 10px;
}
/* line 79, ../sass/modern-forms_mobil.scss */
day:not([today]).selected:after {
  margin-left: 5px;
  opacity: 3;
}
/* line 84, ../sass/modern-forms_mobil.scss */
day:not([today]).selected:before {
  margin-left: -14px;
  opacity: 1;
}

/* Mobile Designs */
/*
.mskin-datepicker .mskin-datepicker-container.show {
	max-width: none;
	max-height: none;
	height: auto;
	width: 100vw;
	left: 0;
	flex-wrap: wrap;
	justify-content: center;
}

.mskin-datepicker .mskin-datepicker-container > * {
	max-height: 350px;
	width: 100%;
	max-width: 512px;
}

.mskin-datepicker .mskin-datepicker-container .mskin-dp-info {
	min-height: 250px;
}

.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender {
	max-width: none;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.mskin-datepicker .mskin-datepicker-container .mskin-dp-calender > * {
	max-width: 512px;
}*/
