body {
    background-color: gray;

    * {
        font-family: 'Roboto', sans-serif;
        transform: all ease .5s;
    }
}

/*
    New Styles
*/


.mskin-datepicker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 5px 5px 5px;

    > * {
        transition: all ease .3s;
    }

    .mskin-textbox-input {
        width: 100%;
        height: 25px;
        border: 0px solid whitesmoke;
        border-width: 0 0 2px 0;
        background-color: transparent;
        padding-left: 5px;
        z-index: 2;
        color: transparent;
        outline: none;
    }

    border {
        display: block;
        height: 2px;
        width: 0%;
        margin-top: -2px;
        margin-left: 50%;
        margin-right: 50%;
        z-index: 3;
        background-color: #26c3b6;
    }

    .mskin-textbox-placeholder {
        margin: -22px 0px;
        color: whitesmoke;
        z-index: 1;
    }

    /* Pop Up */

    .mskin-datepicker-container {
        width: 90vw;
        max-width: 767px;
        height: 90vh;
        max-height: 300px;
        margin-top: 30px;
        position: absolute;
        background-color: #26c3b6;
        display: flex;

        > * {
            width: 50%;
            padding: 10px 15px;
        }

        p {
            margin: 0;
        }

        .mskin-dp-info {
            display: flex;
            flex-direction: column;

            .mskin-dp-i-header {
                text-align: center;

                .mskin-dp-currentdate {
                    text-align: center;

                    .mskin-dp-cd-day {
                        font-size: 2rem;
                        color: whitesmoke;
                        font-weight: bold;
                    }

                    .mskin-dp-cd-date {
                        margin-top: 5px;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }

            .mskin-dp-i-list ul {
                list-style-type: none;

                > li {
                    color: rgba(0, 0, 0, 0.5);

                    &:before {
                        content: ">";
                        margin: 0px -15px;
                        position: absolute;
                        transform: rotate( 0deg );
                        color: transparent;
                        transition: all ease .5s;
                    }

                    &.open:before {
                        transform: rotate( 45deg );
                    }

                    &:hover:before,
                    &.open:before {
                        color: rgba(0, 0, 0, 0.5);
                    }

                    &.open {
                        .mskin-dp-i-list-i-info {
                            height: auto;
                            opacity: 1;
                        }
                    }

                    .mskin-dp-i-list-i-info {
                        height: 0px;
                        display: flex;
                        overflow: hidden;
                        opacity: 0;

                        .mskin-dp-i-list-i-visitors {
                            text-align: right;
                        }
                    }

                    .mskin-dp-i-list-i-info {
                        height: 0px;
                        display: flex;
                        overflow: hidden;
                        opacity: 0;
                        font-size: .8rem;
                        margin-top: 1px;

                        > * {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .mskin-dp-calender {
            background-color: whitesmoke;
        }
    }

    /* Focus / has Value */
    .mskin-textbox-input:focus ~ border,
    &.has-value border {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .mskin-textbox-input:focus ~ label.mskin-textbox-placeholder,
    &.has-value label.mskin-textbox-placeholder {
        margin-top: -43px;
        color: #26c3b6;
    }
    .mskin-textbox-input:focus,
    &.has-value .mskin-textbox-input {
        color: whitesmoke;
    }
}